<div class="well"><strong>EXAMES NEURO-PSICOLÓGICOS</strong></div>
	<span class="label label-info">MMSE</span> <br />
	
	<span class="label label-info">AVD</span><br />
	<span class="label label-info">AIVD</span><br />
	<span class="label label-info">GDS</span><br />
<div class="well"><strong>EXAMES COMPLEMENTARES</strong></div>