.carousel.slide#myCarousel
	.carousel-inner
		.active.item
			=image_tag("/assets/1.jpg")
			.carousel-caption
				%h4 
					%span.badge.badge-info
						= Atendimento.totalAtendimentosMes
					atendimentos em 
					=Date::MONTHNAMES[Date.today.month-1]
					
					
		.item
			=image_tag("/assets/2.jpg")
			.carousel-caption
				%h4 
					%span.badge.badge-info
						= total_pacientes
					pacientes cadastrados em 
					=dateFormat(Date.today)
		.item
			=image_tag("/assets/4.jpg")
			.carousel-caption
				%h4 Caption

	%a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
	%a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›

//.hero-unit
//	%h2 Sistema de Gestão Ambulatorial
//	%p
//		Texto Institucional
//	%p
//		%a.btn.btn-primary.btn-large Leia mais &raquo;
.row
	.span4
		%h2 Agenda
		%p
			Agenda do dia 
			= I18n.localize(Time.now,:format => "%A, %d/%m/%y")
			
		%a.btn Leia mais &raquo;
	.span4
		%h2 Pacientes
		%p
			
		%a.btn{:href=>'pacientes'} Leia mais &raquo;
	/ .span4
	/	%h2 Atendimento
	/	%a.btn Leia mais &raquo;

