.hero-unit
	%h1 SGA
	%p
		Texto Institucional
	%p
		%a.btn.btn-primary.btn-large Leia mais &raquo;
.row
	.span4
		%h2 Agenda
		%p
			Agenda do dia 
			= I18n.localize(Time.now,:format => "%A, %d/%m/%y")
			
		%a.btn Leia mais &raquo;
	.span4
		%h2 Pacientes
		%p
			= render 'pacientes/info'
		%a.btn{:href=>'pacientes'} Leia mais &raquo;
	/ .span4
	/	%h2 Atendimento
	/	%a.btn Leia mais &raquo;

