.row
  .col-lg-3.col-md-6
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-comments.fa-5x
          .col-xs-9.text-right
            .huge26
            New Comments!
      %a{:href=>"#"}
        .panel-footer
          %span.pull-leftView Details
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-green
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-tasks.fa-5x
          .col-xs-9.text-right
            .huge12
            New Tasks!
      %a{:href=>"#"}
        .panel-footer
          %span.pull-leftView Details
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-shopping-cart.fa-5x
          .col-xs-9.text-right
            .huge124
            New Orders!
      %a{:href=>"#"}
        .panel-footer
          %span.pull-leftView Details
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-red
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-support.fa-5x
          .col-xs-9.text-right
            .huge13
            Support Tickets!
      %a{:href=>"#"}
        .panel-footer
          %span.pull-leftView Details
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
          