-#=stylesheet_link_tag "metisMenu.min", :media => "all"
-#=stylesheet_link_tag "timeline"
-#=stylesheet_link_tag "sb-admin-2", :media => "all"
-#=stylesheet_link_tag "morris"

.container-fluid
  %ul.breadcrumb
    %li 
      Relatórios
      %span.divider /
    %li 
      Pacientes
      %span.divider /
  .row-fluid
    .span3
      
      //Sidebar
      .accordion{:id=>"accordion2"}
        //Aba de filtros
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{:href=>'#collapseOne',:data=>{:toggle=>'collapse',:parent=>'#accordion2'}}
              Pacientes ausentes
          .accordion-body.collapse.in{:id=>"collapseOne"}
            .accordion-inner
              = form_tag ausentes_paciente_reports_path, :remote=>true, :method=>'get', :class=>'form-search' do
                %strong Informe o período (em meses)
                %br
                = text_field_tag :periodo,params[:periodo], :class=>'input-small'
            
                = button_tag(type: 'submit', :class=>'btn') do
                  %i.icon-search
                  Ok
    .span9
      #page-wrapper
        #pacientes
          -#= render 'ausentes' unless @pacientes_ausentes.nil?
