=stylesheet_link_tag "metisMenu.min", :media => "all"
=stylesheet_link_tag "timeline"
=stylesheet_link_tag "sb-admin-2", :media => "all"
=stylesheet_link_tag "morris"


#wrapper
  %ul.breadcrumb
    %li 
      Relatórios
      %span.divider /
    %li 
      Pacientes
      %span.divider /
  .navbar-default.sidebar{:role=>"navigation"}
    .sidebar-nav.navbar-collapse
      %ul.nav{:id=>"side-menu"}
        %li
          %a{:href=>"#", :id=>'lnkPacientesAusente'}
            %i.fa.fa-dashboard.fa-fw 
            Pacientes ausentes
            %span.fa.arrow
          %ul.nav.nav-second-level
            %li
              %label Informe o período (em meses)
              -#%input.input-medium.search-query{:type=>'text'}
              %form.form-search
                = text_field_tag :periodo, params[:periodo],{:class=>"input-small",:size=>"16",:id=>'my_input'}
                = link_to ausentes_paciente_reports_path, :class=>'btn', :id=>"search_link", :remote=>true do 
                  %i.fa.fa-search
                  Ok
              
        %li
          %a{:href=>"#"}
            %i.fa.fa-bar-chart-o.fa-fw 
            Gráficos
            %span.fa.arrow
          %ul.nav.nav-second-level
            %li
              %a{:href=>"flot.html"} Flot Charts
            %li
              %a{:href=>"morris.html"} Morris.js Charts
        %li
          %a{:href=>"tables.html"} 
            %i.fa.fa-table.fa-fw 
            Tabelas
        %li
          %a{:href=>"forms.html"} 
            %i.fa.fa-edit.fa-fw 
            Forms
        %li
          %a{:href=>"#"} 
            %i.fa.fa-wrench.fa-fw 
            UI Elements
            %span.fa.arrow
          %ul.nav.nav-second-level
            %li
              %a{:href=>"panels-wells.html"} Panels and Wells
            
            %li
              %a{:href=>"buttons.html"} Buttons
            
            %li
              %a{:href=>"notifications.html"} Notifications
            
            %li
              %a{:href=>"typography.html"} Typography
            
            %li
              %a{:href=>"icons.html"} Icons
            
            %li
              %a{:href=>"grid.html"}Grid
       
       
        
  #page-wrapper
    #pacientes
      -#= render 'ausentes' unless @pacientes_ausentes.nil?
