.container-fluid
	.row-fluid		
		.span9
			%label.control-label Pontos
			%input{:type=>'text', :value=> @gd.pontos, :readonly=>true, :class=>'input-mini'}
		.span3
			%label.control-label &nbsp;
			= link_to edit_gd_path(@gd), :class=>'btn btn-default', :remote=>true do 
				%i.icon-edit
				Alterar

