%form.form-horizontal
	.control-group
		%label.control-label Queixa principal
		.controls
			%input{:type=>'text', :value=> @avaliacao.queixa_principal, :readonly=>true, :class=>'input-xxlarge'}
	.control-group
		%label.control-label História
		.controls
			%textarea{:placeholder=> @avaliacao.anamnese, :readonly=>true, :class=>'input-xxlarge', :rows=>'6'}
			%br
			%br
	%br
	.control.group
		%label.control-label Hipótese diagnóstica
		.controls
			.btn.group{"data-toogle"=>"buttons-radio"}	
				=@avaliacao.doenca.descricao
			%br
			%br
			= link_to edit_avaliacao_path(@avaliacao), :class=>'btn btn-default', :remote=>true do 
				%i.icon-edit
				Alterar
