.container-fluid
  %ul.breadcrumb
    %li 
      Relatórios
      %span.divider /
    %li 
      Atendimentos
      %span.divider /
  .row-fluid
    .span3
      %form.form-search
      //Sidebar
      .accordion{:id=>"accordion2"}
        //Aba de filtros
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{:href=>'#collapseOne',:data=>{:toggle=>'collapse',:parent=>'#accordion2'}}
              por PERÍODO
          .accordion-body.collapse.in{:id=>"collapseOne"}
            .accordion-inner
              %p
              
              = text_field_tag :inicio, params[:inicio], :class=>'input-small',:id=>"dataini"
              = text_field_tag :fim, params[:fim], :class=>'input-small',:id=>"datafim"

              %p
              .text-center
                = link_to periodo_atendimento_reports_path, :class=>'btn', :id=>"search_link", :remote=>true do 
                  %i.fa.fa-search
                  Ok
                
        //Aba de informações
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{:href=>'#collapseTwo',:data=>{:toggle=>'collapse',:parent=>'#accordion2'}}
              Informações
          .accordion-body.collapse.in{:id=>"collapseTwo"}
            .accordion-inner

                
    .span9
      #contentArea